## medical insurance dataset

In [2]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import json

In [3]:
##Data Gatheringdf

df=pd.read_csv('medical_insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
df['age']

0       19
1       18
2       28
3       33
4       32
        ..
1333    50
1334    18
1335    18
1336    21
1337    61
Name: age, Length: 1338, dtype: int64

In [6]:
df['sex']

0       female
1         male
2         male
3         male
4         male
         ...
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object

In [7]:
df['sex'].value_counts().to_dict()

{'male': 676, 'female': 662}

In [8]:
df['sex'].replace({'male': 1, 'female': 0},inplace=True)
df['sex']

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: sex, Length: 1338, dtype: int64

In [9]:
df['smoker'].value_counts().to_dict()

{'no': 1064, 'yes': 274}

In [10]:
df['smoker'].replace({'no': 1, 'yes': 0},inplace=True)
df['smoker']

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    1
1335    1
1336    1
1337    0
Name: smoker, Length: 1338, dtype: int64

In [11]:
df = pd.get_dummies(df ,columns=['region'])
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,16884.92400,0,0,0,1
1,18,1,33.770,1,1,1725.55230,0,0,1,0
2,28,1,33.000,3,1,4449.46200,0,0,1,0
3,33,1,22.705,0,1,21984.47061,0,1,0,0
4,32,1,28.880,0,1,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,1,10600.54830,0,1,0,0
1334,18,0,31.920,0,1,2205.98080,1,0,0,0
1335,18,0,36.850,0,1,1629.83350,0,0,1,0
1336,21,0,25.800,0,1,2007.94500,0,0,0,1
1337,61,0,29.070,0,0,29141.36030,0,1,0,0

In [12]:
df.isna().sum()

age                 0
sex                 0
bmi                 0
children            0
smoker              0
charges             0
region_northeast    0
region_northwest    0
region_southeast    0
region_southwest    0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   sex               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

In [14]:
df = df.select_dtypes(exclude=object) 
x = df.drop('charges',axis = 1)
y = df['charges']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=34)

In [43]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

## model evaluation

###### Model evaluation on Testing data

In [44]:
y_pred_test = model.predict(x_test)

MSE = mean_squared_error(y_test,y_pred_test)
print("Mean squared error :", MSE)

RMSE = np.sqrt(MSE)
print("Root Mean squared error :", RMSE)


MAE = mean_absolute_error(y_test,y_pred_test)
print("Mean absolute error :", MAE)

r2 = r2_score(y_test,y_pred_test)
print("R squared value :", r2)

Mean squared error : 41587655.82548302
Root Mean squared error : 6448.849186132594
Mean absolute error : 4420.543383291357
R squared value : 0.7442111491697807

##### model evaluation on training data

In [45]:
y_pred_train =model.predict(x_train)

MSE = mean_squared_error(y_train,y_pred_train)
print("Mean squared error :", MSE)

RMSE = np.sqrt(MSE)
print("Root Mean squared error :", RMSE)

MAE = mean_absolute_error(y_train,y_pred_train)
print("Mean absolute error :", MAE)

r2 = r2_score(y_train,y_pred_train)
print("R squared value :", r2)

Mean squared error : 35291933.482411794
Root Mean squared error : 5940.701430168982
Mean absolute error : 4101.112694905446
R squared value : 0.7519747760752101

## Testing on a single row

In [46]:
# x.head(1)

In [47]:
age = 67.0
sex = 'male'
bmi = 28.3
children = 3
smoker = 'yes'
region = 'southeast'

In [48]:
project_data = {"sex":{'male': 1, 'female': 0},
                "smoker":{'no': 1, 'yes': 0},
                'columns': list(x.columns)}

In [49]:
column_names = x.columns
column_names

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [50]:
region = 'region_' + region
region_index = np.where(column_names==region)[0][0]

In [51]:
region_index

7

In [52]:
x.shape[1]

9

In [53]:
test_array = np.zeros(x.shape[1])
# test_array
test_array[0] = age
test_array[1] = project_data['sex'][sex]
test_array[2] = bmi
test_array[3] = children
test_array[4] = project_data['smoker'][smoker]
test_array[region_index] = 1
test_array

array([67. ,  1. , 28.3,  3. ,  0. ,  0. ,  0. ,  1. ,  0. ])

In [54]:
model.predict([test_array])

C:\Users\Pooja\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([38635.99336754])

In [55]:
with open("Linear_Model.pkl",'wb')as f:
    pickle.dump(model,f)

In [56]:
with open("project_data.json",'w')as f:
    json.dump(project_data,f)